@import url(./common.css);
                                                        /* 轮播图位置 */

.test-page {
    background: url(https://main.qcloudimg.com/trisys/assets/home/images/hero/demo-ani-bg.jpg);
    background-size: cover;
    background-position: 0 -62px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
}
.rotation-chart a {
    display: block;
}
.chart-list-button {
    padding: 10px 35px;
    color: var(--white-color-);
    font-size: 20px;
    background: var(--blue-color-);
    margin-bottom: 30px;
}
/* .rotation-chart-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
.rotation-chart-items li{
    float: left;
}
.circle {
    width: 30px;
    height: 5px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #999;
}
li.current .circle{
    background-color: var(--blue-color-);
}
.test-page div.page-center {
    position: relative;
}
.rotation-bottom {
    position: absolute;
    bottom: -80px;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0!important;
    justify-content: space-around;
}
.ratation-p {
    padding-left: 0!important;
}
.rotation-bottom-list {
    flex: 1;
    padding-left: 15px;
    margin-right: 15px;
    background-image: linear-gradient(0deg,#fff,#f3f5f8);
    border: 2px solid #fff;
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
    border-radius: 4px;
    box-sizing: border-box;   
}
.rotation-bottom-list:last-child{
    margin-right: 0;
}
.rotation-bottom-list span,
.rotation-bottom-list i {
    font-size: 18px;
    font-weight: bold;
}
.rotation-bottom-list p ,
.xs-show {
   padding-top: 20px;
}




                                                        /* 轮播图位置结束 */





                                                        /* 热门推荐 */
.recommend-top {
    padding-top: 50px;
    margin-bottom: 10px;
}
.recommend-top-ins,
.hot-recommend h2 {
    text-align: center;
}
.recommend-top-link{
    color: var(--blue-color-);
}
.recommend-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.recommend-items li {
    flex: 1;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.recommend-items li.current {
    border-bottom: 3px solid var(--blue-color-);
}
.recommend-list-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.recommend-icon {
    font-size: 30px;
    color: var(--blue-color-);
    margin-bottom: 6px;
}
.recommend-list-icon span {
    font-size: 16px;
    padding-bottom: 20px;
}
.hot-recommend ul {
    margin: 0;
}
.recommend-count {
    background: var(--background-color-);
    background-size: cover;
}
.count-center {
    padding: 40px 0;
}
.count-left-botton {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
    background-image:linear-gradient(180deg,#f3f5f8,#fff 178px,#fff);
}
.count-left-botton:last-child{
    margin-bottom: 0;
}
.count-botton-left,
.count-botton-right {
    text-align: center;
    padding: 5px 12px;
    border: 1px solid transparent;
}
.count-botton-left {
    color: var(--white-color-);
    background-color: var(--blue-color-);
    margin-right: 12px;
}
.count-botton-right {
    background-color: #fff;
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
}


/* list热门 */
.recommend-count-right-list li {
    padding: 10px 0;
}
.button-count a:hover {
    color: var(--white-color-);
}
.recommend-count-right-list>ul>li:hover h4 {
    color: var(--blue-color-);
}
.recommend-count-right-list p {
    /* font-weight: bold; */
    color: #666;
}
.recommend-count-right-list .item-bottom span {
    display: inline-block;
    color: #999;
    border: 1px solid #999;
    padding: 0 5px;
    margin-right: 5px;
}


                           /* 热门推荐结束 */


                           /* 全栈区域 */
.full-stack {
    background-color: #242933;
}
.full-stack-content {
    padding: 60px 20px;
}
.full-stack-header h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--white-color-);
}
.full-stack-main-list>li{
    display: inline-block;
    vertical-align: top;
    width: 32.33%;
    box-sizing: border-box;
    padding: 0 8px;
    margin-bottom: 24px;
}
.full-stack-project {
    position: relative;
    box-sizing: border-box;
    height: 195px;
    min-width: 110px;
    background-image: linear-gradient(179deg,#292f3b 2%,#242933);
    box-shadow: 8px 8px 20px 0 rgb(18 21 26 / 60%), -8px -8px 20px 0 rgb(54 62 77 / 50%), inset 0 4px 20px 0 rgb(36 41 51 / 50%);
    border-radius: 4px;
    padding: 44px 15px 0;
}
.full-stack-project:hover {
    background: #242933;
    box-shadow: inset 8px 8px 20px 0 rgb(18 21 26 / 60%),inset -8px -8px 20px 0 rgb(54 62 77 / 50%);
}
.full-project-nav {
    display: block;
    /* padding-top: 24px; */
    color:var(--white-color-);
}
.full-project-nav li {
    color: #999;
}
.full-project-nav:hover {
    color: var(--white-color-)
}
.full-project-nav i {
    position: absolute;
    font-size: 30px;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.full-stack-project h3 {
    margin-top: 0;
}
.full-stack-bottom-center a {
    display: block;
    color: var(--white-color-);
}
.full-bottom-stack-park {
    height: 100%;
    box-sizing: border-box;
    padding: 28px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #1a1e26;
}
.stack-center-park h3 {
    margin: 0 0 24px;
}
.stack-center-park p {
    height: 110px;
    margin: 0 0 60px;
    box-sizing: border-box;
}
.park-plans li {
    margin: 0 0 12px;
    margin-right: 25px;
}
.park-plans-icon {
    padding-right: 10px;
}
.park-plans-entry {
    padding-top: 20px;
}
.full-stack-project i,
.park-plans i,
.park-plans-entry {
    color: var(--blue-color-);
}

/* 生态 */
.develop-ecology h2 {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
body{
    user-select: none;
}
.develop-ecology {
    background-color: #f5f7fa
}

.develop-box {
    box-sizing: border-box;
    padding: 15px;
    background-image: linear-gradient(0deg,#fff,#f3f5f8);
    border: 2px solid #fff;
    cursor: pointer;
    margin-bottom: 20px;
}
.develop-box-top h3{
    margin: 8px 0;
    font-size: 20px;
    color: #253554;
    font-weight: 500;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box-list-class {
    margin-bottom: 12px;
    font-size: 14px;
    color: #253554;
    line-height: 22px;
}
.develop-box-list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.develop-box-list span {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0 10px;
    color: #9dadc1;
    border: 1px solid rgba(157,173,193,.5);
    border-radius: 2px;
}
.develop-box-bottom {
    position: relative;
    z-index: 2;
    font-size: 0;
    margin: 0 -6px -12px;
}
.develop-box-bottom li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 6px;
    margin-bottom: 12px;
}
.develop-box-bottom>li>a {
    display: block;
    box-sizing: border-box;
    height: 40px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff, inset 0 4px 20px 0 hsl(0deg 0% 100% / 50%);
    border-radius: 4px;
    font-size: 14px;
    color: #3d485d;
    line-height: 36px;
    text-align: center;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.develop-box-right a {
    font-size: inherit;
}
.develop-right-desc {
    margin-bottom: 24px;
}
.develop-button {
    box-sizing: border-box;
    height: 44px;
    line-height: 44px;
    padding: 0 24px;
    background: var(--blue-color-);
    font-size: 16px;
    color: var(--white-color-);
    cursor: pointer;
    border-color: transparent;
}
.develop-right-live {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.live-button-text {
    padding: 0 30px 0 10px;
}

/* 服务全球 */
.serve-world header {
    padding: 60px 0;
}
.list-page-items {
    width: 1400px;
    display: flex;
}
.center-list-page {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.serve-list-item {
    width: 33.3%;
    padding: 0 12px;
    box-sizing: border-box;
}
.button-left {
    position: absolute;
    left: -15px;
}
.button-right {
    position: absolute;
    right: -15px;
}
.button-list {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 30px;
    color: #666;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(135deg,#dbe2e9,#fff);
}
.serve-list-item a {
    display: block;
    box-sizing: border-box;
    height: 210px;
    background-image: linear-gradient(0deg,#fff,#f3f5f8);
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
    border-radius: 4px;
    white-space: normal;
}
.item-name {
    font-size: 30px;
    color: var(--blue-color-);
    margin-right: 15px;
}
.serve-desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.serve-desc {
    padding: 53px 32px 0;
}
.item-content-bottom {
    text-align: right;
    margin-top: 24px;
}
.item-content-top {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}










/* 基础设施建设 */
.place-area {
    padding: 60px 20px;
    background-color: #f5f7fa;
}
.place-top-title,
.place-top-sub {
    text-align: center;
}
.place-link {
    color: var(--blue-color-);
}
.place-top-sub {
    margin-top: 12px;
}
.place-show-word {
    margin: 0 4px;
    line-height: 40px;
    font-size: 32px;
    color: var(--blue-color-);
}
.place-show-lg li {
    margin-bottom: 40px;
}
.place-show-lg li:last-child {
    margin-bottom: 0;
}
.place-xs-top {
    margin-bottom: 4px;
    font-size: 28px;
    color: #3d485d;
    line-height: 36px;
}
.place-show-xs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.place-xs-bottom {
    display: inline-block;
    padding: 0 8px;
    padding-top: 4px;
    border: 1px solid #242933;
    border-radius: 3px;
    /* background-color: pink; */
}
.place-show-xs li {
    margin-right: 60px;
}
.place-show-xs li:last-child {
    margin-right: 0;
}
.place-area-show {
    height: 340px;
}
.place-area-bottom {
    height: 435px;
}
.place-area-icon {
    position: relative;
    bottom: -60px;
    padding: 0 28px;
    background-image: linear-gradient(0deg,#fff,#f3f5f8);
    border: 2px solid #fff;
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%);
    border-radius: 4px;
}
.area-icon-items {
    width: 80px;
    height: 80px;
    background: #fff;
    border: 1px solid #e5e8ed;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6px;
    overflow: hidden;
    padding: 15px;
}
.area-icon-items img {
    width: 100%;
    height: 100%;
}
.area-icon-item a {
    display: block;
    padding: 20px 8px 22px;
    font-size: 14px;
    color: #3d485d;
    text-align: center;
    line-height: 20px;
}
.area-icon-item a:hover .area-icon-items{
    background: #e5e8ed;
    border: 1px solid var(--white-color-);
}
.area-icon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
.area-icon-blue {
    color: var(--blue-color-);
}
.area-icon-list li:first-child {
    display: none;
}
.area-last-place {
    padding-bottom: 20px;
}
/* .place-area-icon {
    display: n;
} */




/* cloud-market */
.cloud-market {
    padding-bottom: 30px;
}
.cloud-market-header {
    padding: 154px 20px 60px;
}
.cloud-market-main>div {
    padding: 0;
}
.market-main-desc {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-bottom: 60px;
}
.market-main-desc em {
    font-weight: bold;
}
.market-main-list li {
    display: inline-block;
    width: 49%;
    margin-bottom: 20px;
}
.market-main-list i {
    color: var(--blue-color-);
    padding-right: 10px;
}
.market-right-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 108px;
    height: 108px;
    background-image: linear-gradient(0deg,#fff,#f3f5f8);
    border: 2px solid #fff;
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
    border-radius: 10px;
}
.market-right-items i {
    color: var(--blue-color-);
    font-size: 30px;
    margin-bottom: 15px;
}
.market-right-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.market-right-list li {
    flex: 20%;
    margin-bottom: 24px;
}









/* learn-more */
.learn-more {
    /* background: #242933; */
    background: #242933 url(https://cloudcache.tencent-cloud.com/open_proj/proj_qcloud_v2/tea-portal-material-portal/build/Main/images/bg_ebb.jpg) 50% no-repeat;
    background-size: auto 100%;
}
.learn-more-desc,
.learn-more-btn a {
    color: var(--white-color-);
}
.learn-more-desc {
    font-size: 20px;
}
.learn-more-btn {
    margin-top: 12px;
}
.learn-more-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 160px;
    max-width: 1180px;
}
.learn-more-btn,
.learn-more-btns {
    min-width: 126px;
    border-color: hsla(0,0%,100%,.6);
}
.learn-more-btns {
    display: inline-block;
    box-sizing: border-box;
    height: 36px;
    padding: 0 24px;
    font-size: 14px;
    line-height: 34px;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid var(--white-color-);
    outline: 0 none;
    cursor: pointer;
}
.learn-more-btns:hover {
    background-color: var(--white-color-);
    color: #1a1e26;
}