@import url(./common.css);
@media screen and (min-width:1440px) {
    .recommend-count-right-list li {
        width: 25%;
    }
    li.show-recommend {
        display: block !important;
    }
    .place-area-icon {
        padding: 0 68px;
    }
}
@media screen and (min-width:1200px) {
    .container {
        width: 100%;
    }
    div.rotation-bottom-list {
        min-width: 210px;
    }
    div.count-left-botton {
        min-width: 280px;
        margin-left: calc(-5%);
    }
    .full-stack-project {
        min-width: 115px;
    }
}

@media screen and (max-width:1200px) {
    div.container {
        width: 1200px;
    }
    .nav-left-items li:last-of-type {
        display: block !important;
    }
    .nav-left-items li:nth-last-of-type(2),
    .develop-box-list {
        display: none;
    }
    div.rotation-bottom {
        width: 100%;
    }
    .full-stack-main-list>li {
        width: 16%;
    }
    .stack-center-park p {
        height: inherit;
    }
    .park-plans ul {
        display: flex;
    }
    .full-stack-bottom-main,
    .full-stack-bottom-center {
        width: 100%;
        left: 0;
    }
    .market-right-list li {
        flex: 25%;
    }
    .market-right-list li:nth-of-type(n+9) {
        display: none;
    }

}

@media screen and (max-width:1150px) {
    .nav-left-items li:nth-last-of-type(3) {
        display: none;
    }
    .footer-copy {
        text-align: center;
    }
}

@media screen and (max-width:1500px) {
    .nav-left-items li,
    .nav-right-items li {
        padding: 0 6px !important;
    }
    #search-some {
        width: 50px;
    }
    div.pls-footer-inner,
    div.page-center {
        width: 95%;
    }
}



@media screen and (max-width:769px) {
    .big-page,
    dd,
    .hidden-xs,
    ul.area-icon-list li:last-of-type {
        display: none;
    }
    div.small-page,
    span.footer-icon,
    .park-plans ul,
    .market-right-list li:nth-of-type(9) {
        display: block;
    }
    .develop-box-list,
    .recommend-items li {
        display: flex;
    }
    .buy-footer,
    .recommend-items i,
    li.show-recommend,
    .xs-show {
        display: block !important;
    }
    div.pls-footer-inner,
    div.page-center,
    .develop-button,
    .pls-footer-inner dl,
    .chart-list,
    .chart-word,
    div.container,
    .develop-left,
    .develop-right {
        width: 100%;
    }
    div.pls-footer-website .pls-footer-inner,
    div.test-page .page-center,
    .recommend-top,
    .recommend-list-icon span,
    .full-stack-bottom-main {
        padding: 0;
    }
    .test-page {
        margin-bottom: 0;
    }
    dl>dt{
        margin-top: 15px;
        font-size: 18px;
    }
    span.language,
    .learn-more-desc{
        font-size: 18px;
    }
    dl {
        border-top: 1px solid #333;
    }
    .pls-footer-inner .small-show a {
        color: black;
        font-size: 20px;
        background: transparent;
    }
    .pls-footer-inner .small-show {
        display: block;
        padding: 10px 0;
        text-align: center;
        background: var(--white-color-);
        margin-bottom: 15px;
    }
    .footer-copy span {
        display: block;
        text-align: center;
    }
    .chart-word  h1 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: var(--white-color-);
    }
    .chart-word p {
        display: block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: var(--white-color-);
    }
    .chart-word {
        margin-top: -80px;
    }
    .rotation-chart-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .rotation-bottom {
        position: static;
    }
    .rotation-bottom-list h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rotation-bottom-list {
        padding: 0 15px;
        min-width: 140px;
    }
    .recommend-items {
        flex-direction: column;
    }
    .recommend-items span,
    .recommend-icon {
        font-size: 16px;
        padding-right: 15px;
    }
    .recommend-list-icon {
        padding: 15px 0;
        flex-direction: row;
    }
    .recommend-items li.current {
        border: none;
    }
    .recommend-items li {
        box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff;
    }
    .full-stack-main-list>li {
        width: 49%;
    }
    .full-stack-project {
        height: 110px;
    }
    .full-stack-project h3 {
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
    }
    .full-stack-project i {
        top: 10px;
    }
    .full-bottom-stack-park {
        background: #242933;
        padding: 0;
    }
    .full-stack-content {
        padding-bottom: 20px;
    }
    .park-plans-entry {
        display: flex;
        justify-content: center;
    }
    .park-plans-entry>span {
        display: inline-block;
        padding: 10px 35px;
        color: var(--white-color-);
        background:var(--blue-color-);
    }
    .recommend-list {
        padding: 0;
    }
    .recommend-items li {
        padding: 0 15px;
    }
    .develop-box-right {
        box-sizing: border-box;
        padding: 15px;
        background-image: linear-gradient(0deg,#fff,#f3f5f8);
        border: 2px solid #fff;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .full-stack-bottom-main,
    .recommend-count-right-list>ul>li {
        width: 50%;
    }
    .chart-list,
    .chart-word {
        left: 0;
        top: 0;
    }
    .learn-more-btn {
        margin-top: 32px;
    }
    .learn-more {
        padding-top: 30px;
        background-position: 70% 100%;
        background-size: auto 50%;
    }
    .place-area-show {
        margin-top: 60px;
    }
    li.area-icon-item,
    .market-right-list li  {
        flex: 33.33%;
    }
    .area-icon-items {
        width: 60px;
        height: 60px;
    }
    .place-show-xs li {
        margin-right: 20px;
    }
    .market-right-items {
        width: 90%;
    }
    .serve-list-item {
        width: 25%;
    }
    .button-list {
        display: none;
    }
    .serve-world .page-center {
        width: 100%;
    }
    .serve-center-list {
        padding: 0;
    }
}


/* @media screen and (width:768px) {
    .hidden-xs {
        display: none;
    }
    .full-stack-bottom-main,
    .recommend-count-right-list>ul>li {
        width: 50%;
    }
    .chart-list,
    .chart-word {
        left: 0;
        top: 0;
    }
    .pls-footer-inner dl,
    .chart-list,
    .chart-word {
        width: 100%;
    }
    .buy-footer,
    .recommend-items i,
    li.show-recommend,
    .xs-show {
        display: block !important;
    }
    .recommend-list {
        padding: 0;
    }
    .recommend-items li {
        padding: 0 15px;
    }
    
} */
@media screen  and (max-width:500px){
    div.full-stack-project {
        min-width: inherit;
    }
    .full-stack-main-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.recommend-count-right-list li {
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    div.place-area-icon {
        bottom: 0;
    }
    .place-show-lg {
        display: none;
    }
    .place-area-show .visible-xs {
        padding-top: 30px;
        display: block !important;
    }
    .place-top-sub span {
        display: block;
        margin-bottom: 20px;
    }
    .area-icon-list li:first-child {
        display: block;
    }
    .area-icon-item {
        flex: 20%;
    } 
    .place-area-show,
    .place-area-bottom {
        height: auto;
    }
    .place-area-show {
        margin-top: 0;
    }

}

